body {
  background: var(--bs-light);
  color: var(--bs-dark);
}
#title {
  height: 30rem;
  background-image: url(../img/alexander-rotker-l8p1aWZqHvE-unsplash.jpg);
/*https://unsplash.com/photos/l8p1aWZqHvE?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink*/
  background-size: 116%;
  background-position: center;
}
#sub-title {
  height: 10.75rem;
}
@media only screen and (max-width: 768px) {
  #title {
    height: 14.75rem;
  }
  #sub-title {
    height: 8.75rem;
  }
}

@media only screen and (max-width: 576px) {
  #title {
    height: 10.75rem;
  }
  #sub-title {
    height: 5.75rem;
  }
}

.card-img {
  object-fit: cover;
  height: 16.1875rem;
}
